.pageLayer { margin: 0 0 40px 0; }
tbody tr { cursor: pointer; }

#popup {
	top: -400px;
	left: 400px;
	background: white;
	border: 2px solid #3d586d; 
	display: none;
	box-shadow: 2px 2px 10px 0px;
}
#popup h2 {
	font-weight: bold;
	color: white;
	background: #3d586d;
	padding: 10px;
}
#popup .popupContentDiv {
	padding: 30px 15px 20px 15px; 
}
.popupContentDiv div { border-bottom: 1px solid black; }
.popupContentDiv b { 
	font-weight: bold;
	padding: 0px 15px;
}
.popupContentDiv ul { display: inline-table; }
.popupContentDiv ul:first-child { background-color: #d5d7db; }
.popupContentDiv li { height: 32px }

.popupContentLeftDiv {
	float: left;
	padding: 0px 50px 0 0;
}
.popupContentRightDiv {
	float: left;
}
.popupBtnDiv { 
	text-align: right;
	padding: 10px;  
}
.popupBtnDiv input { 
	background: #c68d7f; 
	color: white;
	font-weight: bold;
	margin-top: 20px;
}
.popupBtnDiv input:last-child { background: #3d586d; }
.reservationInfoDiv input { border: 0; }




/* 예약문의 테이블 */
section .main_content .i_table{
	border:1px solid #c9caca;
	width:100%;
	font-size:0.75em;
	background:#fff;
}
section .main_content .i_table tr{ border-bottom:1px solid #e2e2e2;}
section .main_content .i_table td, .i_table th{ border-right:1px solid #e2e2e2;}
section .main_content .i_table thead tr th{
	vertical-align:middle; 
	height:27px; 
	background:#c68d7f;
	color:#fff;
	font-weight:600;
}
section .main_content .i_table tbody tr:hover td{
	background:#f4f4f4;
}
section .main_content .i_table tbody tr td{
	vertical-align:middle; 
	height:27px; 
	color:#7a7a7a;
	text-align:center;
}
section .main_content .i_table tbody tr:nth-of-type(odd) td:nth-of-type(2){font-weight:bold;}
section .main_content .i_table tbody tr td:nth-of-type(8){width:15%;}
section .main_content .i_table tbody tr td:nth-of-type(9){font-weight:bold; color:#3d586d;}



section .page_num{
	margin:15px auto; 
	width:120px;
	overflow:hidden;
}
section .page_num li{
	float:left;
}
section .page_num li.num_choice a{
	color:#fff;
	background:#555;
	
}
section .page_num li a{
	display:inline-block; 
	width:20px;
	text-align:center;
	line-height:20px;
	border-radius:5px;
	font-size:0.8em;
	font-weight:700;
}
section .page_num .prev{}
section .page_num .prev a{
	text-indent:-5000px;
	background:url(/css/pageImg/page_prev.png)left 4px no-repeat;
}
section .page_num .next{}
section .page_num .next a{
	text-indent:-5000px;
	background:url(/css/pageImg/page_next.png)left 4px no-repeat;
}




p.text_bt_style{float:right;}
p.text_bt_style a{
	border-radius:5px;
	display:inline-block; 
	background:#3d586d;
	color:#fff;
	padding:8px 15px;
	font-weight:800;
	font-size:0.75em;
}