<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.mapper.IBoardMapper">
	
	
 	<select id="selectUserInfo" resultType="com.model.BoardVo" parameterType="hashmap">
 		SELECT 
 			* 
 		FROM 
 			com_user_info 
 		WHERE 
 			userid = #{userid}
 	</select>
 	

</mapper>
