@media screen and (min-width: 700px){	
	.popup_wrap .popup_textchat{
		width:100%; 
		height:500px;
		background:#eee;
		box-sizing:border-box;
		position:relative;
	}
}
@media screen and (max-width: 700px){	
	.popup_wrap .popup_textchat{
		width:100%; 
		height:380px;
		background:#eee;
		box-sizing:border-box;
	}
}

.popup_wrap .popup_textchat ul{
	overflow:hidden;
	height:280px;
	overflow-y:scroll;
	padding:20px;
}
.popup_wrap .popup_textchat ul .u_chat{
	overflow:hidden;
}
.popup_wrap .popup_textchat ul .u_chat .u_face{
	background:url(/css/pageImg/user_c_img.png) left top no-repeat; 
	margin:20px 10px 0 0 ;
	float:left;
	width:30px;
	height:30px;
}
.popup_wrap .popup_textchat ul .u_chat .u_chat_text{
	float:left;
	max-width:250px
}
.popup_wrap .popup_textchat ul .u_chat .u_chat_text .u_t_room{
	margin-bottom:5px;
}
.popup_wrap .popup_textchat ul .u_chat .u_chat_text .u_t_text{
	background:#37464d;
	border-radius: 8px 8px 8px 0;
	color:#fff;
	padding:12px;
	line-height:1.3em;
	margin-top:0px;
}

.popup_wrap .popup_textchat ul .m_chat{
	overflow:hidden;
}
.popup_wrap .popup_textchat ul .m_chat .m_chat_text{
	float:right;
	max-width:250px
}
.popup_wrap .popup_textchat ul .m_chat .m_chat_text .m_t_text{
	background:#fff;
	border-radius: 8px 8px 0 8px;
	padding:12px;
	border:1px solid #ddd;
	line-height:1.3em;
}
.popup_wrap .popup_textchat ul .m_chat .m_chat_text .m_t_clock{
	color:#aaa;
	margin-top:5px;
	float:right;
}
.popup_wrap .textchat_box{
	width:90%;
	top:450px;
	z-index:1000;
	right:0;
	margin:0 20px;
}

.popup_wrap .textchat_box .text_c_form{
	width:80%;
	border:0;
	padding:10px;
	box-sizing:border-box;
	float:left;
	color:#666;
	font-size:1.2em;
}
.popup_wrap .textchat_box .text_c_enter{
	width:20%;
	height:35px;
	background:#c68d7f;
	border:0;
	color:#fff;
	font-weight:bold;
}
.popup_top_face{
	position:fixed;
	top:20px;
	right:30px;
	background:#c68d7f;
	border-radius:10px;
	box-shadow:2px 3px 8px rgba(0, 0, 0, 0.2);
}
.popup_top_face a{
	display:block;
	padding:10px 10px 10px 35px;
	font-size:0.75em;
	font-weight:bold;
	color:#fff;
	background:url(/css/pageImg/facechat_w.png)10px 8px no-repeat;
}



.popup_top_face{
	position: absolute;
	top: 50px;
	right: 20px;
	background:#c68d7f;
	border-radius:10px;
	box-shadow:2px 3px 8px rgba(0, 0, 0, 0.2);
}
.popup_top_face a{
	display:block;
	padding:10px 10px 10px 35px;
	font-size:0.75em;
	font-weight:bold;
	color:#fff;
	background:url(/css/pageImg/facechat_w.png)10px 8px no-repeat;
}